<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.VoteMapper">
    <resultMap id="VoteMap" type="sy.model.Vote">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="FIGHT_TIME" property="fightTime" jdbcType="DATE"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Vote_List">
        ID, USER_NAME, FIGHT_TIME,CREATE_TIME
    </sql>
    <select id="selectAll" resultMap="VoteMap">
        select
        <include refid="Base_Vote_List"/>
        from vote
    </select>

    <insert id="insert" parameterType="sy.model.Vote">
		INSERT INTO
		VOTE(id,user_name,fight_time,create_time)
		VALUE (#{id},#{userName},#{fightTime},#{createTime})
	</insert>
</mapper>